*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*NAV_BAR*/

.nav_bar
{
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    z-index: 20;
}
.nav_bar  a
{
    color: white;
    text-decoration: none;
    font-size: 18.5px;
    font-weight: 600;
}

.nav_bar .nav_links ul
{
    display: flex;
} 
.nav_bar .nav_links ul li
{
    margin: 0 25px;
} 
.nav_bar .nav_links ul li.active a
{
    color: rgb(164,78,82);


} 
.nav_bar .nav_links ul li a:hover
{
    color: rgb(164,78,82);
    transition: color 0.2s ease-in-out;
} 
.nav_bar .menu_hamberger
{
    display: none;
    width: 7%;
    position: absolute;
    top: 20px;
    right: 10px;

}
.nav_bar .nav_links .dropmenu
{
    position: relative;
    display: inline-block;
}
.nav_bar .nav_links .dropmenu .content
{
    cursor: pointer;
    position: absolute;
    background-color: #333333d3;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    border-radius:8px ;
    transition: 0.3s;
}
.nav_bar .nav_links .dropmenu .content a
{
    display: block;
    color:white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 18px;
    margin-bottom: 3px;
}
.nav_bar .nav_links .dropmenu .content a:hover
{
    background-color: rgb(164,78,82);
}
.nav_bar .nav_links .dropmenu:hover .content
{
    opacity: 1;
    z-index: 1;
}

/*HERO*/

.hero
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    background-color: rgba(0, 0, 0, 0);
}

.hero h1
{
    font-size: 3em;
    font-weight: bolder;
    margin-top: 10px;
    text-align: center;
}
.hero p
{
    text-align: center;
    display: flex;
    font-size: 1.8em;
    font-weight: 400;
    
    
}
.hero .txt-rotate
{
    margin-left: 6px;
    display: flex;
    font-weight: 600;
    text-shadow: 50px;
    text-align: center;
}
.banniere
{
    height: 100vh;
}
.banniere .fond
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}
.le_dessin
{
    width: 100%;
    height: 100vh;

}

/*A_PROPOS*/

.a_propos
{
    background-color: rgb(164,78,82);
    display: flex;
    position: relative;
    z-index: 0;
    padding-top: 12%;
    padding-bottom: 6%;
    padding-right: 5%;
    padding-left: 5%;
}
.a_propos .text_moi
{ 
    position: absolute;
    margin-left: 7%;
    width: 30%;
    margin-top: 4%;
    background-color: white;
    z-index: 2;
    padding: 50px;
    padding-bottom: 8%;
}
.a_propos .a_porpos_image
{
    margin-left: 45%;
    z-index: 1;
    right: 0;
    width: 50%;
}
.a_propos img
{
    width: 75%;
    height: 100%;
}
.a_propos .text_moi h1
{
    color: rgb(164,78,82);
    text-shadow: 1px 1px 0px black;
    font-size: 5em;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 6%;
}
.a_propos .text_moi p
{
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 6%;
}
.a_propos .text_moi span
{
    font-size: 1.6em;


}
.a_propos .text_moi .cv_page
{
    display: flex;
    font-size: 1.6em;
    font-weight: 600;
    color: rgb(164,78,82);
    padding: 8px 20px;
    border: 2px solid rgb(164,78,82);
    border-radius: 5px;
    text-align: center;
}
.a_propos .text_moi .cv_page:hover
{
    transition: all 0.3s ease-in;
    background-color: rgb(164,78,82); 
    color: white;
    box-shadow: 2px 2px 0px black;
}
.a_propos .text_moi .cv_dl
{
    display: flex;
    font-size: 1.6em;
    color: rgb(164,78,82);
    padding: 2px 2px;
    border: 2px solid rgb(164,78,82);
    border-radius: 15px;
    place-items: center;
}
.a_propos .text_moi .cv
{
    display: flex;
    border-radius: 15px;
    margin-top: 20%;
    gap: 2%;
}

/*EXPERIENCE*/

.experience
{
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.experience h1
{
    padding-top: 6%;
    padding-bottom: 3%;
    margin-top: 3%;
    color: rgb(185, 74, 80);
    font-size: 4em;
    font-weight: 780;
}
.experience .sacs img
{
    width: 5%;
    height: auto;
    padding: 3%;
}
.experience .date
{
    font-size: 2.3em;
}
.experience .date i
{
    margin-right: 1%;
}
.experience .stage1 h2
{
    padding: 1%;
    font-weight: 700;
    font-size: 3em;
}
.experience .stage2 h2
{
    color: rgb(164,78,82);
    padding: 1%;
    font-weight: 700;
    font-size: 3em;
}
.experience .texte
{
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 1%;
    padding: 1%;
}
.experience .description
{
    width: 80%;
    justify-content: center;
    align-items: center; 
    text-align: center;
    justify-items: center;
    margin-left: 10%;
    padding-right:1%;
}
.experience .stage1 .description p
{
    text-align:start;
    margin-left: 40%;
    font-size: 1.8em;
    margin-top: 3%;
}
.experience .stage2 .description p
{
    text-align:start;
    margin-left: 40%;
    font-size: 1.8em;
    margin-top: 3%;
}
.experience .description p i
{

    font-size: 0.5em;
    margin-right: 1.5%;
}

/*FORMATION*/

.formation
{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(164,78,82);

}
.formation h1
{
    padding-top: 6%;
    padding-bottom: 3%;
    margin-top: 3%;
    font-size: 3em;
    font-weight: 780;
}
.formation .sacs img
{
    width: 5%;
    height: auto;
    padding: 3%;
    
}
.formation .date
{
    font-size: 1.75em;
    color: white;
}
.formation .date i
{
    margin-right: 1%;
    color: white;
}
.formation .formation1 h2
{
    padding: 1%;
    font-weight: 700;
    font-size: 2.3em;
    color: white;
}
.formation .texte
{
    font-size: 1.7em;
    font-weight: 400;
    color: white;
    padding-bottom: 4%;
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
}

/*PROJET*/

.projet 
{
    text-align: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding-bottom: 2%;
}
.projet h3
{
    padding-top: 6%;
    color: rgb(185, 74, 80);
    font-size: 4em;
    font-weight: 780;
}

.projet .grid
{
    display: grid;
    /*grid-template-areas: "a a a a";*/
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 3%;
    justify-content: center;


}
.projet .grid .item
{
    cursor: pointer;
    background-color: #fff;
    border-radius: 3%;
    padding: 10%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 30px 13px 3px, rgba(0, 0, 0, 0.2) 4.5px -4px 0px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.projet .grid .item:hover
{
    transition: all 0.3s linear;
    background-color: rgba(164, 78, 82, 0.911); 
    color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 15px 16px 0px;
}
.projet .grid .item .img_item
{
    padding: 1%;
    margin: 2%;
}
.projet .grid .item .img_item img
{
    width: 8vw;
    height: auto;
    border-radius: 4px;
}
.projet .grid .item .sous_item
{
    padding: 1%;
    margin: 2%;
}
.projet .grid .item .sous_item h1
{
    font-size: 2.4em;
    font-weight: 725;
    text-shadow: 1px 1px 0px rgb(0, 0, 0) ;
    padding-top: 4%;
   
}
.projet .grid .item .sous_item p
{
    color: #333333;
    font-size: 1.4em;
    font-weight: 500;
    padding-top:6%;
}
.projet .grid .item:hover .sous_item p
{
    color: #f9fbfc;
    transition: all 0.3s ease-in-out;
}


/*VEILLE TECHNO*/


.veille
{

    background-color: #f6f6f6;
    padding-bottom: 3%;
}
.veille_texte
{
    width: 60%;
    margin-left: 18%;
    padding: 1% 1% ;
}
.veille_texte h1
{
    font-size: 4em;
    font-weight: 780;
    color: rgb(185, 74, 80);
    padding-top: 8%;
}
.veille_texte h2
{
    font-size: 2.4em;
    font-weight: 700;
    padding-top: 4%;
}
.veille_texte p
{
    font-size: 1.4em;
    padding-top: 2%;
    font-weight: 500;
}


/*CONTACTER*/


.social-media-list 
{
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a 
  {
    color: #fff;
    z-index: 4;
    font-size: 1.4em;
  }
  
  .social-media-list li 
  {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer; 
    transition: all .2s ease-in-out;
    background-color: #000000c2;
  }
  
  .social-media-list li:after 
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover 
  {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after 
  {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
    z-index: -1;
  }
  
  .social-media-list li:hover a 
  {
    color: #000;
  }
  hr 
  {
    border-color: rgba(255,255,255,.6);
  }

  details[data-popover] 
  {
    display: inline;
    position: relative;
  }
  details[data-popover] > summary:focus
  {
    outline: none;
  }
  details[data-popover] > summary::-webkit-details-marker 
  {
    display: none;
  }
  details[data-popover] > summary 
  {
    list-style: none;
  }
  details[data-popover] > summary + * 
  {
    position: absolute;
    display: block;
    z-index: 1;
    width: 300%;
    padding: 20%;
    background: #000000b7;
    color: #fff;
  }
  details[data-popover] > * + * 
  {
    display: none;
  }
  details[data-popover="down"] > summary + * 
  {
    top: calc(0.5rem + 100%);
    right: 50%;
    transform: translateX(50%);
  }
  #contact 
  {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-boite 
  {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-liens, .contact-form-bas 
  {
    width: 50%;
    padding: 8% 5% 4% 5%;
    border-radius: 0px 10px 10px 0px;
  }
  .contact-boite .contact-form-bas 
  {
    background-color: #cccccccc;
    
  }
  .contact-boite .contact-liens
  {
    background-color: rgb(185, 74, 80);
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
  }
  .contact-boite .contact-liens h2 
  {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 3em;
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
    padding-bottom: 5%;
  }
  
  .form-item 
  {
    position: relative;
  }
  
  label, input, textarea 
  {
    font-family: 'Poppins', sans-serif;
  }
  
  label 
  {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  input, textarea 
  {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 6%;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label 
  {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
  
  .submit-btn 
  {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit-btn:hover 
  {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active 
  {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }


/*BUTTON POUR RMONTER*/


.scroll_top_button
{
    position: fixed;
    right: 20px;
    bottom: 36px;
    display: grid;
    place-items: center;
    width: 4vw;
    height: 4vw;
    border:0;
    border-radius: 50%;
    background:rgb(185, 74, 80);
    color: #f9f9f9;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition:0.3s;
}
.scroll_top_button.visible
{
    opacity: 1;
    visibility: visible;
}


/*FOOTER*/

.footer
{
    background-color: #000000d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: #f9f9f9;
    font-size: 1.2em;
}
.footer .footer-text .footer_email
{
    margin-top: 5%;
}
.footer .footer-text .footer_email p
{
    margin-top: 5%;
}



/*MEDIA QUERIE*/

@media screen and (max-width: 1550px) {
    .nav_bar 
    {
       font-size: 1em;
    }
    .nav_bar  a
    {
        font-size: 17px;
    }
    .a_porpos_image
    {
        display: none;
        width: 60%;
    }
    .a_propos .text_moi
    {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
 
    }
    .a_propos .text_moi h1
    {

        font-size: 2em;
        margin-bottom: 10px;
        padding-bottom: 3%;
    }
    .a_propos .text_moi p
    {
        font-size: 1.8em;
        margin-bottom: 10px;
        padding-bottom: 3%;
    }
    .a_propos .text_moi span
    {
        font-size: 1.3em;
    }
    .a_propos .text_moi .cv
    {
        margin-top: 4%; 
    }
    .a_propos .text_moi .cv_page
    {
        margin-top: 6%; 
        font-size: 1.3em;
    }
    .a_propos .text_moi .cv_dl
    {
        margin-top: 6%;
        font-size: 1.7em;
    }
    .experience .sacs img
    {
        width: 4%;
    }
    .experience h1
    {
        
        font-size: 2em;
        font-weight: 700;
    }
    .experience .stage2 .date
    {
        font-size: 1.3em;
    }
    .experience .stage1 .date
    {
        font-size: 1.3em;
    }
    .experience .stage2 h2
    {
        font-size: 1.8em;
    }
    .experience .stage1 h2
    {
        font-size: 1.8em;
    }
    .experience .texte
    {
        font-size: 1.3em;
        padding-left: 2%;
        padding-right: 2%;
    }
    .experience .description
    {
        font-size: 0.6em;
    }
    .formation h1
    {
        font-size: 2em;
        font-weight: 700;
    }
    .formation .date
    {
        font-size: 1.3em;
    }
    .formation .formation1 h2
    {
        font-size: 1.8em;
    }
    .formation .texte
    {
        font-size: 1.3em;
    }
    .projet h3
    {
        font-size: 2em;
    }
    .projet .grid .item .sous_item h1
    {
        font-size: 2em;
    }
    .projet .grid .item .sous_item p
    {
        font-size: 1.25em;
    }
    .veille .veille_texte h1
    {
        font-size: 2em;
    }
    .veille .veille_texte h2
    {
        font-size: 1.8em;
    }
    .veille .veille_texte p
    {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 900px) { 

   .nav_bar .menu_hamberger
    {
        display: block;
    }
    .nav_bar .nav_links .dropmenu .content
    {
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.3);
        color: black;
        background-color: transparent;
        z-index: -1;
        opacity: 0;
        border-radius:8px ;
        transition: 0.3s;
    }
    .nav_bar .nav_links .dropmenu .content a
    {
        color: black;
        font-size: 17px;
    }    
    .nav_bar .nav_links .dropmenu .content 
    {
        font-size: 8px;
    }
    .nav_links{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(12px);
        margin-right: -100%;
        transition: all 0.5s ease-in-out;
    }
    .nav_links.mobile_menu
    {
        margin-right: 0;
    }
    .nav_bar .nav_links ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 14%;
    }
    .nav_links ul li
    {
        padding: 15px 0;
        font-size: 1.5em;
    }

    .nav_links ul li a
    {
        color: black;
        font-weight: bold;
    }
    .banniere .hero p
    {
        font-size: 1.2em;
    }
    .banniere .hero h1
    {
        font-size: 1.8em;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .a_propos .text_moi h1
    {

        font-size: 1.8em;
        margin-bottom: 10px;
        padding-bottom: 3%;
    }
    .a_propos .text_moi .cv_dl
    {
        font-size: 1.4em;
    }
    .a_propos .text_moi .cv_page
    {
        font-size: 1.3em;
    }
    .experience .sacs img
    {
        width: 8%;
    }
    .experience h1
    {
        font-size: 1.8em;
        padding-top: 12%;
    }
    .experience .stage1 .date
    {
        font-size: 1.2em;
    }
    .experience .stage2 .date
    {
        font-size: 1.2em;
    }
    .experience .stage2 h2
    {
        font-size: 1.8em;
    }
    .experience .stage1 h2
    {
        font-size: 1.8em;
    }
    .experience .texte
    {
        font-size: 1.3em;
    }
    .experience .description 
    {
        font-size: 0.6em;
    }
    .formation h1
    {
        font-size: 1.8em;
        padding-top: 12%;
    }
    .formation .date
    {
        font-size: 1.2em;
    }
    .formation h2
    {
        font-size: 1.8em;
    }
    .formation .texte
    {
        font-size: 1.3em;
    }
    .formation .sacs img
    {
        width: 8%;
    }
        .contact .contact_block form label
    {

        font-size: 1em;    
        margin-right: 100%;
    }
    .projet h3
    {
        padding-top: 12%;
        font-size: 1.8em;
    }
    .projet .grid .item .sous_item h1
    {
        font-size: 1.8em;
    }
    .projet .grid .item .sous_item p
    {
        font-size: 1.1em;
    }
    .veille .veille_texte h1
    {
        font-size: 1.8em;
        padding-top: 20%;
    }
    .veille .veille_texte h2
    {
        font-size: 1.6em;
    }
    .veille .veille_texte p
    {
        font-size: 1.2em;
    }
    #contact
    {
        padding-top: 2%;
    }
    .footer
    {
        font-size: 1em;
    }
}
  
@media only screen and (max-width: 800px) {
    .contact-liens, .contact-form-bas 
    {
        width: 100%;
    }
    .social-media-list li 
    {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after 
    {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .contact-boite .contact-liens h2 
    {
        font-size: clamp(40px, 10vw, 60px);
    }
    .contact-form-bas 
    {
        border-radius: 0px 0px 10px 10px;
    }
    .contact-boite .contact-liens
    {
        border-radius: 10px 10px 0px 0px;
    }
  }
@media screen and (max-width: 680px) {
    .banniere .hero h1
    {
        font-size: 1.2em;
        font-weight: bolder;
    } 
    .hero p
    {
        font-size: 1.2em;
    }
    .a_propos .text_moi p
    {
        font-size: 1.5em;
    }
    .a_propos .text_moi span
    {
        font-size: 1.1em;
    }
    .a_propos .text_moi .cv_dl
    {
        font-size: 1.5em;
    }
    .a_propos .text_moi .cv_page
    {
        font-size: 1.1em;
    }
    .experience h1
    {
        font-size: 1.8em;
        font-weight: 700;
        padding-top: 15%;
    }
    .experience .stage2 h2
    {
        font-size: 1.6em;
    }
    .experience .stage1 h2
    {
        font-size: 1.6em;
    }
    .experience .texte
    {
        font-size: 1.1em;
    }
    .experience .description
    {
        font-size: 0.55em;
    }
    .formation h1
    {
        font-size: 1.8em;
        font-weight: 700;
        padding-top: 15%;
    }
    .formation h2
    {
        font-size: 1.5em;
    }
    .formation .texte
    {
        font-size: 1.1em;
    }
        .scroll_top_button
    {
        width: 10vw;
        height: 10vw;
    }
    .projet .grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .projet h3
    {
        font-size: 1.8em;
        font-weight: 700;
        padding-top: 15%;
    }    
    .veille .veille_texte h1
    {
        font-size: 2em;
        padding-top: 23%;
    }
    .veille .veille_texte h2
    {
        font-size: 1.5em;
    }
    .veille .veille_texte p
    {
        font-size: 1em;
        padding-top: 5% ;
    }
}

@media screen and (max-width: 460px) {
    .banniere .hero p
    {
        font-size: 1em;
    }
    .nav_bar .nav_links ul
    {
        margin-bottom: 20%;
    }
    .a_propos .text_moi .cv_dl
    {
        font-size: 1.3em;
    }
    .a_propos .text_moi .cv_page
    {
        margin-top: 6%; 
        font-size: 1em;
        margin-right: 2%;
    }
    .projet .grid
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .projet .grid .item .sous_item h1
    {
        font-size: 1.4em;
    }
    .projet .grid .item .sous_item p
    {
        font-size: 1em;
    }

    
}
@media only screen and (max-width: 400px) {
    .contact-boite 
    {
      width: 95%;
      margin: 8% 5%;
    }
    .social-media-list 
    {
        left: 0;
    }
    .social-media-list li 
    {
    height: 8vh;
    width: 13vw;
    line-height: 35px;
    font-size: 1.8em;
    }
    .social-media-list li a
    {
    font-size: 0.6em;
    }
    .social-media-list li:after 
    {
    width: 55px;
    height: 55px;
    line-height: 55px;
    }
    .contact-boite .contact-liens h2 
    {
    font-size: 1.8em;
    }
  }
  
@media screen and (max-width: 300px) {

    .experience .texte
    {
        font-size: 1.1em;
    }
    .experience .description
    {
        font-size: 0.5em;
    }
    .formation .formation1 h2
    {
        font-size: 1.5em;
    }
    .veille .veille_texte h1
    {
        font-size: 1.5em;
    }
    .social-media-list li 
    {
    height: 8vh;
    width: 15vw;
    line-height: 33px;
    }
    .footer
    {
        font-size: 0.8em;
    }
}


